/* Animatsiya qurilmalari */
@keyframes countUp {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Son ko'paytirish uchun stil */
  .animated-number {
    animation: countUp 1s ease-in-out forwards;
  }
  